{% extends 'base.html' %}
{% block content %}
    <a class="btn btn-primary" href="{% url 'aplicatie1:adaugare' %}">Adaugare locatii</a>
    <table class="table">
        <thead>
        <tr>
            <th>Index</th>
            <th>City</th>
            <th>Country</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for item in location_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.city }}</td>
                    <td>{{ item.country }}</td>
                    <td>{% if item.active is True %}
                            Activ
                        {% else %}
                            Dezactivat
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-success" href="{% url 'aplicatie1:modifica' item.id %}">Editare</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
