{% extends 'base.html' %}
{% block content %}
    <div class="col-md-3">
        <form method="POST">
            {% csrf_token %}
            <p>Resetezi parola</p>
        {% if validlink %}
            <label>Parola noua</label>
            <input type="password" class="form-control" name="new_password1">
            <label>Confirmare parola noua</label>
            <input type="password" class="form-control" name="new_password2">

            <button type="submit" class="btn btn-dark">Confirma parola</button>
            {% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
            {% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
        {% else %}
                <p>Linkul nu e valid</p>
        {% endif %}
        </form>
    </div>
{% endblock %}
