{% extends 'base.html' %}
{% block content %}
    <form method="POST">
    {% csrf_token %}
    <div class="col-md-3">
        <p>Resetezi parola</p>
        <input type="password" class="form-control" name="new_password1">
    </div>
    <div class="col-md-3">
        <label>Confirmare parola noua</label>
        <input type="password" name="new_password2" class="form-control">

    </div>
    <button type="submit" class="btn btn-dark">Confirma parola</button>
       {% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
                                {% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
    </form>
{% endblock %}
